.payment{
    width: 90%;
    margin: 1rem auto;
    position: relative;
}

.payment h3{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
}
.arrow{
    position: absolute;
    left: 0;
}
.reserve{
    position: absolute;
    top: 105%;
    left: 40%;
    font-family: "Raleway", sans-serif;
    width: 25%;
    padding: 15px;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
    justify-content: center;
    border-radius: 15px;
    background-color: #D2D8E1;
    color: #090231;
    border: #D2D8E1;
}
a{
    text-decoration: none;
}
.form{
    display: flex;
    width: 100%;
    margin: 2rem auto 6rem;
    justify-content: space-between;
    position: relative;
}
.first {
    width: 49%;
    background-color: #D2D8E1;

}
.second {
    width: 45%;
}
.second img{
    width: 100%;
}
.space{
    width: 90%;
    margin: 1.2rem auto 0.5rem;
}
.price{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
}
.pay{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;
}
.adult{
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: space-between;
}
.space hr{
    border: 2px solid #534E6F ;
    background-color: #534E6F;
}
.space h3{
    font-size: 1.1rem;
    font-weight: 600;
    margin: 1.1rem 0;
    text-align: left;
}
.space h4{
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0 0 1.2rem;
}
.space span{
    font-size: 1rem;
    font-weight: 700;
    margin: 0 0 1.3rem;
}
.dateInput {
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
}
.nameInput {
    width: 75%;
}
.nameInput h6{
    margin: 0.7rem 0;
    font-size: 0.8rem;
}
.dateInput h6{
    margin: 0.5rem 0;
    font-size: 0.8rem;
}
.nameInput input{
    outline: none;
    padding: 0.8rem;
    background-color: rgba(217, 217, 217, 0.5);
    color: black;
    font-size: 0.9rem;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #090231;
    margin-right: 2rem;
}
.dateInput input{
    outline: none;
    padding: 0.8rem;
    background-color: rgba(217, 217, 217, 0.5);
    color: black;
    font-size: 0.9rem;
    width: 60%;
    border: 1px solid #090231;
    border-radius: 5px;
}